@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

:root {
	font-family: 'Roboto', sans-serif;

	--primary: rgb(255, 32, 32);
	--on-primary: white;
}

*,
::after,
::before {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	transition: none cubic-bezier(0.1, 0.8, 0.2, 1) 600ms;
}

*::selection {
	color: var(--on-primary);
	background-color: var(--primary);
}

input,
button {
	font: inherit;
	border-radius: 0.5em;
	padding: 0.5em 1em;
}

button {
	cursor: pointer;
	border: none;
}

input {
	border: 1px solid currentColor;
	outline: 0px solid #ddd;

	transition: outline-width linear 75ms;

	&:focus {
		outline-width: 3px;
	}
}

ul,
ol {
	list-style: none;
}
